<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- Configuration globale -->
    <targets>
        <!-- Cible pour la console -->
        <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />

        <!-- Cible pour le fichier -->
        <target xsi:type="File" name="file" fileName="logs/logfile.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <!-- Règles de log -->
    <rules>
        <!-- Tous les niveaux de log pour toutes les loggers vont vers la console et le fichier -->
        <logger name="*" minlevel="Trace" writeTo="console,file" />
    </rules>
</nlog>